<!-- filepath: c:\Users\Leonardo Braga\Projetos\SoulsGuessr\views\partials\navbar.ejs -->
<nav>
  <a href="#" onclick="abrirPopupNav('popup-bosses')">Bosses</a>
  <a href="#" onclick="abrirPopupNav('popup-armas')">Armas</a>
  <a href="#" onclick="abrirPopupNav('popup-sobre')">Sobre</a>
</nav>